[package]
name = "histogram"
version = "0.7.1"
edition = "2021"
authors = ["Brian Martin <brian@pelikan.io>"]
license = "Apache-2.0"
description = "Fast and simple atomic histograms"
homepage = "https://github.com/pelikan-io/rustcommon/histogram"
repository = "https://github.com/pelikan-io/rustcommon"

[dependencies]
thiserror = "1.0.38"

[dev-dependencies]
criterion = "0.4.0"

[[bench]]
name = "bench"
harness = false
